<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome</title>
</head>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign In/ Log Out"/>
</form>
<body>

    <h1>Product Cataloged</h1>
    <hr>
    <a sec:authorize="hasRole('ROLE_ADMIN')"  th:href="@{/temps/add-product}">Add product</a>	&nbsp;<a sec:authorize="hasRole('ROLE_CUSTOMER')" th:href="@{/temps/shopping-list}">cart</a>
    <div class="main_menu">&nbsp<a sec:authorize="hasRole('ROLE_ADMIN')"  th:href="@{/temps/accounts}">Accounts</a>
        <div class="product" th:each="tempProduct : ${products}">
            <div>
                <img th:src="@{${tempProduct.pictureLocation}}"/>
                <a th:href="@{/temps/cart(id=${tempProduct.id})}">
                <p th:utext="${tempProduct.descrName}"/>
                </a>
            </div>
        </div>
    </div>
</body>
</html>