h1 {
    font-family: "Strong";
    text-align: center;
}

div{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 1000px;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
    gap: 16px;
    margin: 0;
    padding: 20px 10px;
}
p {
    display: block;
}
figure.item {
    /* To correctly align image, regardless of content height: */
    vertical-align: 20%;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 120px;
}
img {
    width: 150px;
    height: 150px;
}
.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
}
.second {
    margin-left: 0px;
    padding-left: 0px
}
.show-case{
    width: 300px;
    height: 300px;
}
.third{
     display: grid;
     justify-content: start;
     grid-template-columns: 1fr 1fr;
     align-items: flex-start;
     padding: 10px;
     border-radius: 10px;
     grid-column-gap: 10px;
     background-color: rgba(0, 0, 155, 0.2);
     border: 2px solid;
}

/*.tu {
    position: relative;
    left: 25%;
    bottom: 94%;
}
.divider {
  border-bottom: 1px solid #888989;
  margin: 2px 0;
}*/

.what{
    border-right: 2px solid black;
}
input {
    position: relative;
}




